<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <title>Codebreaker</title>

    <link rel="stylesheet" href="./app/assets/css/custom.css" type="text/css" />
    <link rel="stylesheet" href="./app/assets/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="./app/assets/css/bootstrap-theme.css" type="text/css" />

    <script type="text/javascript" src="./app/assets/js/jquery.js"></script>
    <script type="text/javascript" src="./app/assets/js/custom.js"></script>
    <script type="text/javascript" src="./app/assets/js/bootstrap.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>

</html>
